= simple_form_for @feedback, html: { class: "form-vertical" } do |f|
  .row
    .span6
      .alert.alert-info
        Please add more info

      = f.input :image, as: :file
      = f.input :website_url, input_html: { class: "span6" }

      .form-group
        .form-actions
          = f.submit class: "btn btn-default btn-primary"

    .span6
      = render "extra_info"