%table.table.table-striped.table-condensed
  %thead
    %th= t("feedback.name")
    %th= t("feedback.email")
    %th= t("feedback.is_success_str")
    %th= t("feedback.restored_at")
    %th= t("feedback.image")

  %tbody
    = render @feedbacks