= simple_form_for @feedback, html: { class: "form-vertical" } do |f|
  .row
    .span6

      = f.input :name, input_html: { class: "span6" }, label: t("feedback.name")
      = f.input :email, input_html: { class: "span6" }, label: t("feedback.email")
      = f.input :is_success, as: :radio_buttons, item_wrapper_class: "inline", label: t("feedback.is_success")
      = f.input :restored_at, input_html: { class: "span3" }, label: t("feedback.restored_at")
      = f.input :feedback, input_html: { rows: 8, class: "span6" }, label: t("feedback.feedback")

      .form-group
        .form-actions
          = f.submit class: "btn btn-default btn-primary"

    .span6
      = render "extra_info"