- unless @feedback.email and @feedback.restored_at and @feedback.url
  .alert.alert-danger
    Please use link sent from CodeGuard - like:
    %br

    - url = "#{Rails.configuration.dragonfly_host}/?feedback[email]=email&feedback[restored_at]=01/01/2015%2010:10&feedback[url]=www.url.com"
    %a{ href: url }
      = url

- else
  %h2= t("feedback.step_1")
  = simple_form_for @feedback, html: { class: "form-vertical" } do |f|
    = f.input :is_success, as: :radio_buttons, item_wrapper_class: "inline", label: t("feedback.is_success")
    = f.input :feedback, input_html: { rows: 8, class: "span6" }, label: t("feedback.feedback")

    = f.hidden_field :email
    = f.hidden_field :restored_at
    = f.hidden_field :url

    .form-group
      .form-actions
        = f.submit "Submit feedback", class: "btn btn-default btn-primary"
        = link_to t("feedback.skip"), "http://codeguard.com", class: "btn"
