- unless @feedback.email and @feedback.restored_at and @feedback.url
  .alert.alert-danger
    Please use link sent from CodeGuard - like:
    %br
    %a{ href: "http://localhost:3000/?feedback[email]=email&feedback[restored_at]=01/01/2015%2010:10&feedback[url]=www.url.com" }
      http://localhost:3000/?feedback[email]=email&feedback[restored_at]=01/01/2015%2010:10&feedback[url]=www.url.com

- else
  = simple_form_for @feedback, html: { class: "form-vertical" } do |f|
    .row
      .span6

        = f.input :name, input_html: { class: "span6" }, label: t("feedback.name")
        = f.input :is_success, as: :radio_buttons, item_wrapper_class: "inline", label: t("feedback.is_success")
        = f.input :feedback, input_html: { rows: 8, class: "span6" }, label: t("feedback.feedback")

        = f.hidden_field :email
        = f.hidden_field :restored_at
        = f.hidden_field :url

        .form-group
          .form-actions
            = f.submit class: "btn btn-default btn-primary"

      .span6
        = render "extra_info"