!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", "xml:lang" => "en", lang: "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html;charset=UTF-8'}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }

    %title CodeGuard Feedback

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = yield :head
    = csrf_meta_tag


  %body
    .container
      = render "header"

      = yield